

.ga.home.bg{
	background:url(../img/ga/home_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
height: 400px;
}

.ga.header{
	padding: 2%;
}

#gaHeader img{
	background: white;
}


#holder { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #333; }