<div id="gaHeader" class="ui secondary pointing menu">
    <a ui-sref="ga.home" class="ui small image">
        <img class="logo" src="img/ga/logoGA.png">
    </a>
    <a ui-sref="ga.home" class="item">
        <i class="home icon"></i> Inicio
    </a>
    <a ui-sref="ga.product.items" class="item">
        <i class="browser icon"></i> Productos
    </a>
    <a ui-sref="ga.project.items" class="item">
        <i class="suitcase icon"></i> Proyectos
    </a>

    <a ui-sref="ga.categories" class="item">
        <i class="wrench icon"></i> Categorias
    </a>

    <a ui-sref="ga.uploads" class="item">
        <i class="cloud upload icon"></i> Subir Imagenes
    </a>

    <a ui-sref="ga.config.slider" class="item">
        <i class="wrench icon"></i> Configurar Slider
    </a>
    <a ui-sref="ga.config.destacados" class="item">
        <i class="wrench icon"></i> Configurar Destacados
    </a>

    <div class="right menu">
        <a ui-sref="ga.login" ng-click="clearLogin();" class="ui item">
          Salir
        </a>
    </div>
</div>

<!--
<div class="nms header ui middle aligned menu">
 
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui menu">
                    <a ui-sref="product.items" class="item">Productos</a>
                    <a ui-sref="ga.category.items" class="item">Categorias de productos</a>
                    <a ui-sref="project.items" class="item">Proyectos</a>
                    <a ui-sref="prjcategory.items" class="item">Categorias de proyectos</a>
                </div>
                <div class="ui menu">
                    <a ui-sref="config.slider" class="item">Configurar Slider</a>
                    <a ui-sref="config.destacados" class="item">Configurar productos destacados</a>
                </div>
            </div>
        </div>
    </div>

</div>
-->
