<div class="ui fluid form segment">
  <div class="two fields">
    <div class="field">
      <label>Usuario</label>
      <input name="username" placeholder="Usuario" ng-model="data.username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input name="password" type="password" placeholder="Password" ng-model="data.password" type="text">
    </div>
  </div>
  <div class="ui black small submit button" >Ingresar</div>
  <div class="ui error message" ></div>
</div>