<div ui-view="header" class="ga header"></div>

<div class="stackable ui vertically divided grid">
    <div class="row">
        <div class="column">
            <div ui-view></div>
            <!-- main view -->
        </div>
    </div>
</div>


<div class="ga category delete ui thin modal">
  <i class="close icon"></i>
  <div class="header">
    Esta seguro?
  </div>
  <div class="actions">
    <div class="ui black negative  button" >No</div>
    <div class="ui black positive  button" >Si</div>
  </div>
</div>

<div class="ga product delete ui thin modal">
  <i class="close icon"></i>
  <div class="header">
    Esta seguro?
  </div>
  <div class="actions">
    <div class="ui black negative  button" >No</div>
    <div class="ui black positive  button" >Si</div>
  </div>
</div>

<div class="ga project delete ui thin modal">
  <i class="close icon"></i>
  <div class="header">
    Esta seguro?
  </div>
  <div class="actions">
    <div class="ui black negative  button" >No</div>
    <div class="ui black positive  button" >Si</div>
  </div>
</div>
