<div class="ui fluid form segment">
  <div class="two fields">
    <div class="field">
      <label>Usuario</label>
      <input name="username" placeholder="Usuario" ng-model="formData.username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input name="password" placeholder="Password" ng-model="formData.password" type="text">
    </div>
  </div>
  <div class="ui black small submit button" ng-click="login();">Ingresar</div>
  <div class="ui error message" ></div>
</div>